@{
    ViewBag.Title = "Garrison Lash";
}
<h2>@ViewBag.Title</h2>
<h3>About me</h3>

<p>I am currently a senior at Ohio University in the College of Business. I am a determined individual pursuing my bachelor’s degree in MIS and Marketing.
    I am looking to further my business experience prior to graduation through networking opportunities and gaining real life experience.
    On top of that, I am a die hard Cleveland Sports fan.</p>
