@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cleveland's Major Sports Teams</h1>
    <p class="lead">
        Cleveland Sport's teams have been the backbone of Cleveland's surrounding areas. They have made us cry tears of joy, and tears of
        sorrow and disbelief. They are truly what makes Cleveland "The gem on the lake".
    </p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Browns</h2>
        <p>
            Cleveland is no doubt a Browns town. Through the ups and downs that the Browns have given us, Browns fans have always stayed loyal to their team.
            The Browns truly epitomize what it means to be a Clevelander. They're gritty, resiliant, and always keep their heads high when facing adversity.
        </p>
        <p><a class="btn btn-default" href="https://www.clevelandbrowns.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Indians</h2>
        <p>
            Clevelanders have always been able to rely on the Indians to perform well duing their season. Even though they haven't won a World Series Championship
            since 1948, they have still been playoff contenders almost every year.
        </p>
        <p><a class="btn btn-default" href="https://www.mlb.com/indians">Learn more &raquo;</a></p>
        @Html.ActionLink("Customers", "Index", "Customers")
        <br />
        @Html.ActionLink("Orders", "Index", "Orders")
        <br />
        @Html.ActionLink("Products", "Index", "Products")
        <br />
        @Html.ActionLink("Order Details", "Index", "OrderDetails")
    </div>
    <div class="col-md-4">
        <h2>Cavs</h2>
        <p>
            The Cavs have been the middle child between the Indians and Browns since their conception in 1970. The Cavs were never real contenders, and were at times
            known as the laughing stock of the NBA. However, everything changed on one fateful day in 2003 when the Cavs selected LeBrons James with the first pick in the
            2003 NBA Draft. Although he has moved onto LA, his legacy will always be felt in the city of Cleveland.
        </p>
        <p><a class="btn btn-default" href="https://www.nba.com/cavaliers/">Learn more &raquo;</a></p>
    </div>
</div>

